@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --ocean: #cfdadd;
  --main-country-color: #b6623e;
  --main-country-stroke: #6a3924;
  --neighbour-color: #d6c59c;
  --neighbour-stroke: #bda161;
}

.country-svg {
  background-color: var(--ocean);
}

.country-svg .main-country {
  fill: var(--main-country-color);
  stroke: var(--main-country-stroke);
}

.country-svg .neighbour {
  fill: var(--neighbour-color);
  stroke: var(--neighbour-stroke);
}
